<div id="music-app">
	<div class="menu-screen source" id="music" data-icon="music.svg" data-menu-title="Music" data-stylesheet="music.css" data-namespace="music">
		
		<header>
			<div class="back-button master"></div>
			<h1>Music</h1>
			<menu-tabs
				v-bind:tabs="tabs"
				v-model="selectedTab"
			></menu-tabs>
			<div class="button symbol right compact-only" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
		</header>
		
		<menu-tabs
			class="main"
			v-bind:tabs="tabs"
			v-model="selectedTab"
		></menu-tabs>
		
		<div class="scroll-area aux-header" v-show="selectedTab == 'home'">
			<header class="aux">
				<div class="button symbol right normal-only" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
			</header>
			<div class="menu-content">
				
			</div>
		</div>
		
			
		<div class="scroll-area aux-header" v-show="selectedTab == 'artists'">
			<header class="aux normal-only">
				<div class="button symbol right normal-only" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
			</header>
			<div v-if="updating" class="menu-content">
				<p class="loading">Updating library...</p>
			</div>
			<div v-if="!artists.length && !albums.length" class="menu-content">
				<h1>No music</h1>
				<p>Connect a USB storage device or add a NAS server in Music Player Daemon settings to add music.</p>
			</div>
			<div class="menu-content wide">
				<div class="artist-collection">
					<artist-item
				    	v-for="artist in artists"
				      	v-bind:artist="artist"
				      	v-bind:key="artist.id"
				    ></artist-item>
				</div>
			</div>
		</div>
		
		<div class="scroll-area aux-header" v-show="selectedTab == 'albums'">
			<header class="aux">
				<segmented-control
					class="minimal"
					v-bind:buttons="albumSortOptions"
					v-model="albumSort"
				>Sort by:</segmented-control>
				<div class="button symbol right normal-only" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
			</header>
			<div v-if="updating" class="menu-content">
				<p class="loading">Updating library...</p>
			</div>
			<div v-if="!artists.length && !albums.length" class="menu-content">
				<h1>No music</h1>
				<p>Connect a USB storage device or add a NAS server in Music Player Daemon settings to add music.</p>
			</div>
			<div class="menu-content wide">
				<div class="album-collection">
					<album-item
				    	v-for="album in sortedAlbums"
				      	v-bind:album="album"
				      	v-bind:key="album.id"
				      	v-on:context="albumMenu(album, null, album.id)"
						v-on:hold="albumMenu(album, null, album.id)"
				    ></album-item>
				</div>
			</div>
		</div>
	</div>
	
	<div class="menu-screen full-width" v-for="item in navStack" v-bind:id="'music-navstack-item-'+item.id" v-bind:data-menu-title="(item.type == 'artist') ? item.artist : item.name" data-parent-extension="music">
		<header v-bind:class="{dark: item.type == 'artist', 'always-top opaque-scroll transparent top-hide-title': item.type == 'album' || (item.type == 'artist' && item.img)}">
			<div class="back-button master"></div>
			<h1 v-if="item.type != 'artist'">{{ item.name }}</h1>
			<h1 v-else>{{ item.artist }}</h1>
			<div class="button symbol right" v-bind:class="{'compact-only': (item.type == 'artist' && !item.img)}" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
		</header>
		
		
		<div class="scroll-area" v-if="item.type != 'placeholder'">
			<h1 class="large-title" v-if="item.type == 'artist'">{{ item.artist }}</h1>
			
			<div class="artist-header" v-if="item.type == 'artist' && item.img" v-bind:style="{backgroundImage: 'url('+item.img+')'}">
				<div class="artist-header-fade"></div>
				<div class="artist-header-title-wrap as-sidebar">
					<h1>{{ item.artist }}</h1>
				</div>
			</div>
			
			<header v-if="item.type == 'artist' && !item.img" class="aux normal-only">
				<div class="button symbol right" style="-webkit-mask-image: url(/common/symbols-black/search.svg); mask-image: url(/common/symbols-black/search.svg);" title="Search" onclick="music.search();"></div>
			</header>
			
			<div class="menu-split">
				<div class="menu-content-wrap left no-divider normal-only">
					<div class="menu-content no-padding-right" v-bind:class="{'no-padding-top': item.type == 'album'}">
						
						<!-- Expanded album artwork -->
						<div v-if="item.type == 'album'" class="album-view-artwork-container" v-bind:class="{placeholder: !item.img}" v-cloak @drop.prevent="uploadPicture($event, item)" @dragover.prevent>
							<img class="artwork" v-bind:src="(item.img) ? item.img : 'common/square-helper.png'" v-bind:alt="item.name" />
						</div>
						
						<!-- Expanded album information -->
						<p v-if="item.type == 'album'"><strong><span v-if="item.date">{{ releaseDate(item.date) }} • </span>{{ item.tracks.length }} track{{(item.tracks.length != 1) ? "s" : ""}} • {{ Math.round(item.time/60) }} minutes</strong></p>
						<p>{{ item.text }}</p>
						
					</div>
				</div>
				<div class="menu-content-wrap right">
					<div class="menu-content">
						
						<!-- Compact album artwork -->
						<div v-if="item.type == 'album'" class="album-view-artwork-container compact-only" v-bind:class="{placeholder: !item.img}">
							<img class="artwork" v-bind:src="(item.img) ? item.img : 'common/square-helper.png'" v-bind:alt="item.name" />
						</div>
						
						<!-- Compact album information -->
						<div v-if="item.type == 'album'" class="album-info">
							<h1>{{ item.name }}</h1>
							<h3 @click="getMusic('artist', {artist: item.artist}, item.id)">{{ item.artist }}</h3>
							<p class="compact-only"><span v-if="item.date">{{ releaseDate(item.date) }} • </span>{{ item.tracks.length }} track{{(item.tracks.length != 1) ? "s" : ""}} • {{ Math.round(item.time/60) }} minutes</p>
						</div>
						
						<!-- List tracks -->
						<div v-for="(disc, index) in item.discs">
							<h2 v-if="item.discs.length > 1">Disc {{ index+1 }}</h2>
							<menu-item
								v-for="track in disc"
								v-bind:label="track.name"
								v-bind:value="time(track.time)"
								v-bind:description="(track.artist.toLowerCase() != item.artist.toLowerCase()) ? track.artist : ''"
								v-bind:value-left="track.number"
								icon="common/symbols-black/volume.svg"
								v-bind:hide-icon="(!track.path || track.path != currentTrackPath)"
								v-bind:key="track.id"
								v-on:click="play(track.id, item.id)"
								v-on:context="trackMenu(track, item.id, track.id)"
								v-on:hold="trackMenu(track, item.id, track.id)"
							></menu-item>
						</div>
						<div v-if="!item.discs || item.discs.length == 0">
							<menu-item
								v-for="track in item.tracks"
								v-bind:label="track.name"
								v-bind:value="time(track.time)"
								v-bind:description="(track.artist.toLowerCase() != item.artist.toLowerCase()) ? track.artist : ''"
								v-bind:value-left="track.number"
								icon="common/symbols-black/volume.svg"
								v-bind:hide-icon="(!track.path || track.path != currentTrackPath)"
								v-bind:key="track.id"
								v-on:click="play(track.id, item.id)"
								v-on:context="trackMenu(track, item.id, track.id)"
								v-on:hold="trackMenu(track, item.id, track.id)"
							></menu-item>
						</div>
					</div>
					
					
					<div class="menu-content wide" v-if="item.albums && item.albums.length > 0">
						<h2 v-if="item.type == 'album' && item.albums && item.albums.length > 0">More from {{ item.artist }}</h2>
						<div class="album-collection">
							<album-item
						    	v-for="album in item.albums"
						      	v-bind:album="album"
						      	v-bind:in-artist="true"
						      	v-bind:key="album.id"
						      	v-on:context="albumMenu(album, null, album.id)"
								v-on:hold="albumMenu(album, null, album.id)"
						    ></album-item>
						</div>
					</div>
					
					<div class="menu-content compact-only" v-if="item.text">
						<p>{{ item.text }}</p>
						
					</div>
					
					<div class="menu-content"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="menu-screen" id="music-search" data-menu-title="Search" data-parent-extension="music">
		<header>
			<div class="back-button master"></div>
			<h1>Search</h1>
		</header>
		
		
		<div class="scroll-area">
			
			<div class="menu-content">
				
				<form class="search-container" action="javascript:music.search(true);">
					<input type="search" v-model="search.string" class="music-search-field" placeholder="All music"/>
					<input type="submit" value="Search">
				</form>
				
				<!-- List previous searches -->
				<div v-if="search.tracks.length == 0 && search.artists.length == 0 && search.albums.length == 0">
					<menu-item
						v-for="pSearch in search.previousSearches"
						v-bind:label="pSearch"
						v-bind:key="pSearch"
						icon="common/symbols-black/search.svg"
						v-on:click="searchWithString(pSearch)"
					></menu-item>
				</div>
				
				<!-- List tracks -->
				<!--<h2 v-if="search.tracks.length > 0">Tracks</h2>-->
				<div v-if="!search.showAllTracks">
					<menu-item
						v-for="track in search.tracks.slice(0, 5)"
						v-bind:label="track.name"
						v-bind:value="time(track.time)"
						v-bind:description="track.artist"
						v-bind:value-left="track.number"
						v-bind:key="track.id"
						v-on:click="play(track.id, 'search')"
						v-on:context="trackMenu(track, 'search', track.id)"
						v-on:hold="trackMenu(track, 'search', track.id)"
					></menu-item>
				</div>
				<div v-else>
					<menu-item
						v-for="track in search.tracks"
						v-bind:label="track.name"
						v-bind:value="time(track.time)"
						v-bind:description="track.artist"
						v-bind:value-left="track.number"
						v-bind:key="track.id"
						v-on:click="play(track.id, 'search')"
						v-on:context="trackMenu(track, 'search', track.id)"
						v-on:hold="trackMenu(track, 'search', track.id)"
					></menu-item>
				</div>

				<div class="button pill grey" v-if="search.tracks.length > 5 && !search.showAllTracks" v-on:click="search.showAllTracks = !showAllTracks">Show All Tracks</div>
			</div>
			
			<div class="menu-content wide" v-if="search.artists.length > 0">
				<h2>Artists</h2>
				<div class="artist-collection">
					<artist-item
				    	v-for="artist in search.artists"
				      	v-bind:artist="artist"
				      	v-bind:key="artist.id"
				    ></artist-item>
				</div>
			</div>
			
			<div class="menu-content wide" v-if="search.albums.length > 0">
				<h2>Albums</h2>
				<div class="album-collection">
					<album-item
				    	v-for="album in search.albums"
				      	v-bind:album="album"
				      	v-bind:key="album.id"
				      	v-on:context="albumMenu(album, null, album.id)"
						v-on:hold="albumMenu(album, null, album.id)"
				    ></album-item>
				</div>
			</div>
		
		</div>
		
	</div>
	
	<div class="ask-menu" id="music-track-menu">
		<h2>Song</h2>
		<div class="menu-item two-rows" onclick="beo.askOption(2);">
			<div class="first-row">
				<div class="menu-text-wrap">
					<div class="menu-label ask-dynamic-0"></div>
					<div class="menu-value button">Play</div>
				</div></div> 
			<div class="menu-custom-markup"><p class="ask-dynamic-1"></p></div>
		</div>
		<div class="ask-buttons">
			<div class="button pill grey" onclick="beo.askOption(0);">Queue Next</div>
			<div class="button pill grey" onclick="beo.askOption(1);">Queue Last</div>
			<div class="button pill black default cancel" onclick="beo.ask();">Cancel</div>
		</div>
	</div>
	
	<div class="ask-menu" id="music-album-menu">
		<h2>Album</h2>
		<div class="menu-item two-rows" onclick="beo.askOption(2);">
			<div class="first-row">
				<div class="menu-text-wrap">
					<div class="menu-label ask-dynamic-0"></div>
					<div class="menu-value button">Play</div>
				</div></div> 
			<div class="menu-custom-markup"><p class="ask-dynamic-1"></p></div>
		</div>
		<div class="ask-buttons">
			<div class="button pill grey" onclick="beo.askOption(0);">Queue Next</div>
			<div class="button pill grey" onclick="beo.askOption(1);">Queue Last</div>
			<div class="button pill black default cancel" onclick="beo.ask();">Cancel</div>
		</div>
	</div>
	
	<div class="ask-menu" id="clear-queue-prompt">
		<h2>Start playing?</h2>
		<p>Starting playback will clear the existing play queue.</p>
		<div class="ask-buttons">
			<div class="button pill grey" onclick="beo.askOption(0);">Clear And Play</div>
			<div class="button pill black default cancel" onclick="beo.ask();">Cancel</div>
		</div>
	</div>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script type="text/javascript" charset="utf-8" src="€/music-client.js"></script>